body {
    background-color: #fff;
    font-size: 10pt;
    text-align: center;
    width:240px;
    line-height: 100%;
    background:#fff url(../icons/bg.png) center;
}
a:link, a:active, a:visited {
    color:#94aaa1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
}
a:hover {
    color:#e23351;
}
.error {
  white-space: nowrap;
  color: red;
}
#title{
    font-size:20pt;
    color: #bbb;
    padding: 5px;
    text-align:center;
    margin:auto;
}
#inner {
    width:100%;
    overflow:auto;
    text-align: left;
    box-shadow: 0px 1px 1px #ddd;
}
::-webkit-scrollbar-track {background-color:#fff;}
::-webkit-scrollbar-thumb {background-color:#f2f2f2;}
::-webkit-scrollbar {width:5px;}
